:root {
  --color-background: #19002f;
  --color-primary: #000000;
  --font-family-base: Poppin, sans-serif;
  --font-size-h1: 1.5rem;
  --font-size-h2: 2rem;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  display: grid;
  font-family: var(--font-family-base);
  line-height: 1.5;
  margin: 0;
  padding: 5vmin;
  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  justify-items: center;
  place-items: center;
}

button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

.block {
  display:block;
  width: 144px;
  height: 64px;
  text-align: center;
  border-radius: 12px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 4pxs;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
}


table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  color: #b4b4b4;
}

td {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}

tfoot {
  border-top: 1px solid #b4b4b4;
  font-weight: 600;
}

.align {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  place-items: center;
}

.chart {
  height: 480;width: 720;
  border-radius: 1em;
  background-color: #15001f;
  color: #fff;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.icon {
  height: 1em;
  display: inline-block;
  fill: currentColor;
  width: 1em;
  vertical-align: middle;
}

.slade01 {
  width: 820px;
    background-color: #fbf6f7;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff);
    border-radius: 2em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    overflow: auto;
    padding: 16px;
}
}